<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>我的个人网站</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="http://at.alicdn.com/t/font_1472962959_527582.css" rel="stylesheet">
<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">
<link href="/css/bundle.5dc793bf.css" rel="stylesheet"></head>
<body>
    <div id="root"><%- __html__ %></div>
    <script>window.__INITIAL_STATE__ = <%- __state__ %></script>
<script type="text/javascript" src="/js/vendor.7f6d7e8e.js"></script><script type="text/javascript" src="/js/bundle.dcddc8d6.js"></script>
</body>
</html>